/* remove outline */
textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
button.btn:focus, 
button.btn:active, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
    box-shadow: inset 0 -1px 0 transparent;
    outline: none !important;
}


.seach-area-width{
    width: 100%;
}
.input-height{
    height: 35px;
    width: 80%;
}
.input-height:focus{
    border: 1px solid #FFC107;
}
.button-width{
    width: 100px;
    height: 31px;
}
.product-image{
    height: 200px;
    width: 100%;
}

.product-details-img{
    width: 30%;
    height: 250px;
}

.quanity-btn{
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thead-area{
    border-bottom: 1px solid #000;
}

.table-area{
    width: 100%;
}

.search-result{
    overflow: hidden;
    overflow-y: scroll;
    height: 300px;
}
.card{
    width: 30rem;
}

.product-img{
    height: 80px;
    width: 60px;
    object-fit: cover;
}